/* PC */
@media (min-width: 1024px) {
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
/* Mobile */
@media (max-width: 739px) {
    /* BEGIN LOGIN */
    .login {
        overflow: hidden;
        min-width: 300px;
    }
    .login .login-container {
        top: 140px;
        position: relative;
    }
    .form-login {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        top: 230px;
        height: 200px;
    }
    /* END LOGIN */
}
