/* PC */
@media (min-width: 1024px) {
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}
/* Mobile */
@media (max-width: 739px) {
    /* BEGIN LOGIN */
    .login {
        overflow: hidden;
        position: relative;
        width: 100vw;
        height: 820px;
    }
    .login .login-container {
        padding: 30px 0px;
        width: 400px;
        height: 700px;
        position: absolute;
        top: 140px;
        /* margin: 0 auto; */
    }

    .form-login {
        position: absolute;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        top: 230px;
        height: 200px;
    }
    /* END LOGIN */
}
